<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109912435913-r40dgp73duo60vav078ckk73560opjie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109912435913-r40dgp73duo60vav078ckk73560opjie</string>
	<key>API_KEY</key>
	<string>AIzaSyAOF4g1XGHfcTNE8BZmLCscOMFVRZ5yCio</string>
	<key>GCM_SENDER_ID</key>
	<string>109912435913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.connectingfuturesnow.Test3</string>
	<key>PROJECT_ID</key>
	<string>cfn-math-ap</string>
	<key>STORAGE_BUCKET</key>
	<string>cfn-math-ap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109912435913:ios:510de4722a091d9876b118</string>
</dict>
</plist>